<div id="about-content">
  <div class="about_box">
    <img src="http://www.rk82.net/images/me.jpg" alt="me" width="200px" height="200px"/>
    <div class="about_box right">
      <h3>Ronny Krämer, M.Sc.</h3>
      <p>Web • Ruby • MongoDB • macOS</p>
      <div>
							<pre>
<span style='color:#800080; '>{</span>
  <span style='color:#0000e6; '>"contact"</span>: <span style='color:#800080; '>{</span>
    <span style='color:#0000e6; '>"mail"</span>: <span style='color:#0000e6; '>"hello@rk82.net"</span>,
    <span style='color:#0000e6; '>"skype"</span>: <span style='color:#0000e6; '>"spaceneedle2019"</span>,
    <span style='color:#0000e6; '>"linkedIn"</span>: <span style='color:#0000e6; '>"http://de.linkedin.com/in/rkr82"</span>
  <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
							</pre>
      </div>
    </div>
  </div>
</div>