<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Ronny Kraemer's home" />
  <meta name="keywords" content="webdesign, webdevelopment, webprogrammierung, webentwicklung, grafikdesign, html, css, javascript, ajax, php, mysql, mac, linux, retro-computing" />
  <title>rk82.net</title>
  <link rel="stylesheet" href="/css/base.css" />
</head>
<body>
<div id="header">
  <div id="headerbox">
    <h1>// about</h1>
    <a href="http://rk82.net">footprints</a>
  </div>
  <hr/>
</div>
<div id="main">
<%= yield %>
</div>
<div id="hp_badge">
  <a href="http://avenging-angel.de" title="Homepage"><img alt="Homepage" src="/images/home.png" width="25px" height="25px" /></a>
</div>
</body>
</html>